<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mould Calculator</title>
</head>
<body>
    <h1>Calculate your Mould Compensation</h1>
    <form method= "POST" action="{{ url_for("index") }}">
        {{ form.csrf_token }}
       <div>{{ form.total_rooms.label }}:
           {{ form.total_rooms}}</div>
        <div>{{ form.rooms_affected.label }}:
            {{ form.rooms_affected }}</div>
        <div>{{ form.rent.label }}:
            {{ form.rent }}</div>
        <div>{{ form.severity.label }}:
            {{ form.severity }}</div>
        <div>{{ form.mould_months.label }}:
            {{ form.mould_months }}</div>
        <div><input type="submit" value="Calculate"></div>
    </form>
    {% if result %}
        <h2>result is: {{ result }}</h2>
    {% endif %}
</body>
</html>